$color:red;
$timing:.25s;

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {
    max-width: 340px;
    min-height: 80vh;
    margin: 0 auto;

    .container {
        padding: 20px;
        border: 2px solid #eae6eb;
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-radius: .25rem;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

        .progression {
            margin: 20px auto;


            &__line {
                height: 10px;
                border-radius: 5px;
                background: red;
                margin-bottom: 10px;
            }

            &__circle {
                position: relative;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                background: white;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);


                .right {
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border: 10px solid red;
                    border-radius: 0px 150px 150px 0px;
                    border-left: 0;
                    transform-origin: left;
                }

                .left {
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 10px solid #222235;
                    border-radius: 150px 0px 0px 150px;
                    border-right: 0;
                    transform-origin: left;
                }

                .value {
                    color: black;
                    font-size: 3rem;
                    font-weight: bold;
                }

                &__open {
                    animation-name: fadeIn;
                    animation-duration: $timing;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }

                @keyframes fadeIn {
                    0% {
                        opacity: 1;
                        transform: translateY(0px);
                    }

                    50% {
                        opacity: 0;
                        transform: translateY(10px);
                    }

                    100% {
                        transform: translateY(0px);
                        opacity: 1;
                    }
                }

                &__unset {
                    animation-name: fadeOut;
                    animation-duration: $timing;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }

                @keyframes fadeOut {
                    0% {
                        opacity: 1;
                        transform: translateY(0px);
                    }

                    50% {
                        opacity: 0;
                        transform: translateY(10px);

                    }

                    100% {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }
            }


        }

        .control {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            &__decrease {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                outline: none;
                font-size: 1.25rem;
                font-weight: bold;
                color: white;
                background-color: $color;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: cursor;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.20);
            }

            &__increase {
                @extend .control__decrease
            }
        }
    }
}