@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
$accent:#8A3FFC;
$bg:#8A3FFC;
$timing:.35s;

* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::selection {
        background: $accent;
        color: white;
    }
}





body {
    max-width: 360px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    place-items: center;
    background: $bg;
    .waveDecor {
        position: absolute;
        bottom: 0px;
        left:0;
        z-index: -1;
    }
    .container {
        padding: 20px;
        border: 2px solid transparent;
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-radius: 1rem;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

        will-change: transform;
        backface-visibility: hidden;
        background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.7) 0%, hsla(0, 0%, 100%, 1) 100%);
        backdrop-filter: blur(80px);

        .progression {
            margin: 20px auto;


            &__line {
                height: 10px;
                border-radius: 5px;
                background: red;
                margin-bottom: 10px;
            }

            &__circle {
                position: relative;
                width: 310px;
                height: 310px;
                border-radius: 50%;
                background: white;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 310px;
                    height: 310px;
                    transform: rotate(-90deg);

                    .open {
                        transition: all $timing;
                    }

                    .unset {
                        transition: all $timing;
                    }

                    circle {
                        width: 310px;
                        height: 310px;
                        fill: none;
                        stroke-width: 10;
                        stroke: #000;
                        transform: translate(5px, 5px);
                        stroke-dasharray: 950;
                        stroke-dashoffset: 950;
                        stroke-linecap: round;

                        &:nth-child(1) {
                            stroke-dashoffset: 0;
                            stroke: #f3f3f3;
                        }

                        &:nth-child(2) {
                            stroke-dashoffset: calc(950 - (950 * 0)/100);
                            stroke: $accent;
                        }
                    }
                }

                .number {
                    position: absolute;
                    z-index: 10;

                    .value {
                        color: black;
                        font-size: 3rem;
                        font-weight: bold;
                    }

                    .open {
                        animation-name: fadeIn;
                        animation-duration: $timing;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;
                    }

                    @keyframes fadeIn {
                        0% {
                            opacity: 1;
                            transform: translateY(0px);
                        }

                        50% {
                            opacity: 0;
                            transform: translateY(10px);
                        }

                        100% {
                            transform: translateY(0px);
                            opacity: 1;
                        }
                    }

                    .unset {
                        animation-name: fadeOut;
                        animation-duration: $timing;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;
                    }

                    @keyframes fadeOut {
                        0% {
                            opacity: 1;
                            transform: translateY(0px);
                        }

                        50% {
                            opacity: 0;
                            transform: translateY(10px);

                        }

                        100% {
                            opacity: 1;
                            transform: translateY(0px);
                        }
                    }
                }



            }
        }

        .control {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            &__decrease {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                outline: none;
                font-size: 1.25rem;
                font-weight: bold;
                color: white;
                background-color: $accent;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: auto;
                cursor: pointer;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.20);
            }

            &__increase {
                @extend .control__decrease
            }
        }
    }
}